<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://www.google.com/recaptcha/api.js" async)
    title Registration
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/login.css')

    - if (errors)
        each val in errors
          style(type="text/css").
            input[name=#{val.param}] {
                border: 1px solid red;
            }


  body
    .login-page
      .form
        form.register-form(action="", method="post")
          input#firstName(name="firstName", placeholder='firstName', type="text", value=form? form.firstName : '')
          input#lastName(name="lastName", placeholder='lastName', type="text", value=form? form.lastName : '')
          input#username(name="username", placeholder='username', type="text", value=form? form.username : '')
          input#fhub_address(name="fhub_address", placeholder='fhub_address', type="text", value=form? form.fhub_address : '')
          input#password(name="password", placeholder='password', type="password", value=form? form.password : '')
          input#confirmPassword(name="confirmPassword", placeholder='confirmPassword', type="password", value=form? form.confirmPassword : '')
          -if(referal || (form && form.referal))
            input(type="hidden", name="referal", value=referal||form.referal)
          div.recapcha(class="g-recaptcha", data-sitekey="6LeYbz4UAAAAAJ-BQ_i7ct3PqC-09Wa5paiZl56W")
          button(type="submit") Registration
        p.message
          | Already registered?
          a(href='/auth/login') Sign In
        - if (errors)
          ul
            each val in errors
              li=val.message
